## 
alias vi='vim $*'

# ln -s /usr/local/apache-maven* /usr/local/maven
alias mvn='/usr/local/maven/bin/mvn'
# alias flyway='${HOME}/flyway/flyway-3.0/flyway'
alias ant='/usr/local/apache-ant/bin/ant'

alias curl-downloader='curl -C - -O $*'

alias wp='cd /var/www/wordpress/wordpress-latest/'

alias gi-java="gi \"eclipse,java,vim,maven,windows,intellij\""
alias gi-laravel="gi \"php,linux,vim,composer,windows,phpstorm,laravel\""
alias h='http --follow'
alias cls='clear'

## application log
MY_WAS=${HOME}/apache-tomcat-7.0.53
alias lv="tail -f ${MY_WAS}/logs/catalina.out"
alias lvi="vim ${MY_WAS}/logs/catalina.out"

CONFLUENCE_DIR=/var/atlassian/confluence
alias clv="tail -f ${CONFLUENCE_DIR}/confluence-app-data/confluence/logs/atlassian-confluence.log"
alias clvi="vim  ${CONFLUENCE_DIR}/confluence-app-data/confluence/logs/atlassian-confluence.log"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Documents/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/projects"
alias g="git"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # macOS `ls`
	colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias canary='/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary'

# IP addresses
## alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

# Make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

###  for ssh tunnel. See https://www.lesstif.com/x/EYFGAw
alias tunnel='ssh -D 8123 -f -C -q -N proxy-server-name'

## for bitcoin testnet
alias bitcoin-server='bitcoind -regtest -printtoconsole'
alias bitcoind2='bitcoind -regtest $*'
alias bitcoin-cli2='bitcoin-cli -regtest $*'


## for laravel alias
alias art='php artisan'

## 
export GOPATH=${HOME}/devel/gopath
export PATH=$PATH:$GOPATH/bin

## vagrant
alias up='pushd .; cd ~/Homestead; vagrant up;popd'
alias halt='pushd .; cd ~/Homestead; vagrant halt;popd'
alias vassh='pushd .; cd ~/Homestead; vagrant ssh;popd'
alias vssh=vassh

## wkhtml
alias wpdf=wkhtmltopdf
alias wimage=wkhtmltoimage
alias wimg=wimage
